.section1{
    padding-bottom: 90px;
    padding-top: 70px;
    // background: #F0F4F7;
    background: #F0F4F7;
    width: 100%;
    height: 100%;
}

.section2{
    padding-bottom: 90px;
    padding-top: 90px;
    background: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
}

.section3{
    padding-bottom: 90px;
    padding-top: 90px;
    background: #F0F4F7;
    width: 100%;
    height: 100%;
}