<div>
    <div class="section1">
      <div class="container">
  
        <!-- Section: Blog v.1 -->
        <section>
  
          <!-- Section heading -->
          <h2 class="h2-responsive font-weight-bold text-center" style="color: #15B9F9;">My name is your company</h2>
          <!-- Section description -->
          <p class="text-center w-responsive mx-auto mb-5">Description about company.</p>
  
          <!-- Grid row -->
          <div class="row">
  
            <!-- Grid column -->
            <div class="col-lg-5">
  
              <!-- Featured image -->
              <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4">
                <img class="img-fluid" src="https://media4.s-nbcnews.com/i/newscms/2017_26/2053956/170627-better-grocery-store-main-se-539p_80a9ba9c8d466788799ca27568ee0d43.jpg"
                  alt="Sample image">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
  
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-lg-7">
  
              <!-- Category -->
              <!-- <a href="#!" class="green-text"><h6 class="font-weight-bold mb-3"><i class="glyphicon glyphicon-lock"></i>Food</h6></a> -->
              <!-- Post title -->
              <h3 class="mb-3" style="color: #15B9F9;">About and History company</h3>
              <!-- Excerpt -->
              <p>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur
                adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
  
              <!-- Read more button -->
              <!-- <a class="btn btn-success btn-md">Read more</a> -->
  
            </div>
            <!-- Grid column -->
  
          </div>
          <!-- Grid row -->
        </section>
        <!-- Section: Blog v.1 -->
  
      </div>
    </div>
  </div>
  <!--Main Layout-->
  
  <div class="section2">
  
    <div class="container">
      <!-- Section: Blog v.1 -->
      <section>
  
        <!-- Grid row -->
        <div class="row">
  
          <!-- Grid column -->
          <div class="col-lg-7">
  
            <!-- Post title -->
            <h3 class="mb-3" style="color: #FF6600;"><strong>About product</strong></h3>
            <!-- Excerpt -->
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
              corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
            <!-- Post data -->
            <p>by <a><strong>Carine Fox</strong></a>, 14/08/2018</p>
            <!-- Read more button -->
  
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-lg-5">
  
            <!-- Featured image -->
            <div class="view overlay rounded z-depth-2">
              <img class="img-fluid" src="http://www.nsrcel.org/wp-content/uploads/2018/01/product.png" alt="Sample image">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
  
          </div>
          <!-- Grid column -->
  
        </div>
        <!-- Grid row -->
  
      </section>
      <!-- Section: Blog v.1 -->
    </div>
  </div>
  
  <div class="section3">
  
    <div class="container">
      <!-- Section: Blog v.1 -->
      <section>
  
        <!-- Grid row -->
        <div class="row">
  
          <!-- Grid column -->
          <div class="col-lg-5">
  
            <!-- Featured image -->
            <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4">
              <img class="img-fluid" src="https://ak7.picdn.net/shutterstock/videos/15071317/thumb/2.jpg" alt="Sample image">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
  
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-lg-7">
  
            <!-- Category -->
            <!-- <a href="#!" class="green-text"><h6 class="font-weight-bold mb-3"><i class="glyphicon glyphicon-lock"></i>Food</h6></a> -->
            <!-- Post title -->
            <h3 class="mb-3" style="color: #15B9F9;">Delivery Channel</h3>
            <!-- Excerpt -->
            <p>quis nostrud exercitation ullamco laboris.</p>
  
            <!-- Read more button -->
            <!-- <a class="btn btn-success btn-md">Read more</a> -->
  
          </div>
          <!-- Grid column -->
  
        </div>
        <!-- Grid row -->
  
      </section>
      <!-- Section: Blog v.1 -->
    </div>
  </div>